name: Terraform DEV Infrastructure

on:
  push:
    branches: [main]
    paths:
      - 'terraform/modules/**'
      - 'terraform/environments/dev/**'
      - '.github/workflows/infra-dev.yml'
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: terraform/environments/dev

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.0

      - name: Azure Login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.RM_CLIENT_ID }}
          tenant-id: ${{ secrets.TENANTID }}
          subscription-id: ${{ secrets.SUBSCRIPTIONID }}

      - name: Terraform Init
        run: terraform init
        env:
          ARM_CLIENT_ID: ${{ secrets.RM_CLIENT_ID }}
          ARM_TENANT_ID: ${{ secrets.TENANTID }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.SUBSCRIPTIONID }}
          ARM_USE_OIDC: true

      - name: Terraform Plan
        run: terraform plan
        env:
          ARM_CLIENT_ID: ${{ secrets.RM_CLIENT_ID }}
          ARM_TENANT_ID: ${{ secrets.TENANTID }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.SUBSCRIPTIONID }}
          ARM_USE_OIDC: true

      - name: Terraform Apply
        run: terraform apply -auto-approve
        env:
          ARM_CLIENT_ID: ${{ secrets.RM_CLIENT_ID }}
          ARM_TENANT_ID: ${{ secrets.TENANTID }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.SUBSCRIPTIONID }}
          ARM_USE_OIDC: true
